cat <<EOF > .gitignore
# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
.env.local
.env.development
.env.production
.env.test
.client/.env
.server/.env

# Build output
dist/
dist-ssr/
build/
.vite/
*.tmp

# Editor files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
EOF